<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer src = "/js/websocket.js"></script>
    <link rel="stylesheet" media="screen" href="/css/messenger.css"/>
</head>
<body>
<div class="messenger-header">
    nickname : <input type="text" size="10">
    message : <input type="text" size="50" onkeyup="if(window.event.keyCode==13){send()}"><input type="button" onclick="send()" value="전송">
</div>
<div class="messenger-body">
    <p> test message </p>
</div>


</body>
</html>